.App {
  background-color: #fff7eb;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #aaa;
  border-radius: 8px;
  padding: 24px 32px;
  /* border: 1px solid; */
  /* border-color: #f0efed; */
  transition: 0.1s ease;
  position: relative;
  width: 30%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fcdba7;
  border-radius: 8px;
  mix-blend-mode: overlay;
}